// A sample code. Delete it.

.common {
  color: white;
  text-align: center;
  &:hover {
    filter: invert(100%);
  }
}

.bg-red {
  @extend .common;
  background-color: red;
}

.bg-brown {
  @extend .common;
  background-color: brown;
}

.bg-blue {
  @extend .common;
  background-color: blue;
}
