!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title Sinatra starter kit
    %meta{:name => 'description', :content => 'Sinatra starter kit'}
    %link{:rel => 'stylesheet', :href =>'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css'}
    %link{:rel => 'stylesheet', :href =>'/css/style.css'}
    %link{:rel => 'stylesheet', :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'}
    %meta{:name => 'viewport', :content =>'width=device-width, initial-scale=1'}
  %body
    = File.read("views/_analytics.html")
    = yield
